.video-modal {
    align-items: center;
    display: flex;
    justify-content: center;
}

.video-modal-content {
    object-fit: contain;
    display: flex;
}

.video-modal-content iframe {
    aspect-ratio: 17 / 9;
    width: 100%;
}

.desc-content {
    align-items: center;
    color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #efefef;
}

.wrapper {
    flex-direction: column;
    position: relative;
}

.first_film {
    align-items: center;
    background: #000630;
    display: flex;
    flex-direction: column;
    height: 62vh;
    width: 100%;
    object-fit: contain;
    position: absolute;
    padding-top: 12vh;
}

.second_film {
    background-color: #f9f9f9;
    height: 100vh;
    width: 100%;
    align-items: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 12vh;
}

.third_film {
    background-color: #ededed;
    height: 100vh;
    width: 100%;
    align-items: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding-top: 12vh;
}

.video-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 2vw;
    justify-content: center;
    flex-direction: column;
}

.column-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    padding-bottom: 5vh;
}

.carousel-container {
    display: flex;
    justify-content: center;
    align-items: middle;
    width: 100%;
    overflow-x: hidden;
    margin: 0 auto;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 10px 0px 10px 0px;
    scrollbar-width: none;
}

.carousel::-webkit-scrollbar {
    display: none;
}

.carousel-item, .carousel-item2 {
    flex: none;
    height: 100%;
    position: relative;
    transition: transform 0.3s ease;
    scroll-snap-align: start;
}

.carousel-item {
    position: relative;
    border-radius: 15px;
    width: 280px;
    margin: 0 10px;
}

.carousel-item2 {
    width: 160px;
    margin: 0 .1vw;
}

.carousel-item img {
    border-radius: 15px;
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
}

.carousel-item:hover {
    transform: scale(1.05);
    z-index: 2;
}

.carousel-item2 {
    flex: none;
    scroll-snap-align: start;
    overflow: hidden;
}

.carousel-item2 img {
    width: 100%;
    height: auto;
    display: block;
}

.carousel-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
    opacity: 1;
    transition: opacity 0.3s ease;
}

.carousel-item:hover::before {
    opacity: 0.5;
}

.carousel-text {
    font-family: Futura;
    fontSize: 3vw;
    color: #efefef;
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    text-shadow: .1vw .1vw rgba(0, 0, 0, 0.5);
}

.carousel-plus {
    position: absolute;
    bottom: 13px;
    right: 13px;
    height: 35px !important;
    width: 35px !important;
    z-index: 2;
}

.carousel {
  display: flex;
  gap: 10px;
}

.carousel-item {
  cursor: pointer;
}


.slate_background {
    align-items: center;
    aspect-ratio: 16 / 9;
    background: repeating-linear-gradient(
        45deg,
        black,
        black 2vw,
        white 2vw,
        white 4vw
    );
    border: .25vw solid black;
    box-shadow: .6vw .6vw rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    object-fit: contain;
    outline: .25vw solid white;
    width: 35vw;
}

.slate_background2 {
    aspect-ratio: 17 / 9;
    background-color: black;
    border: .25vw solid white;
    box-shadow: .6vw .6vw rgba(0, 0, 0, 0.4);
    outline: .25vw solid black;
    width: 32vw;
    overflow: hidden;
}

.thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.thumbnail-image {
    box-shadow: .3vw .3vw rgba(0, 0, 0, 0.2);
    cursor: pointer;
    width: 10vw;
    transition: transform .5s ease, box-shadow 1s ease;
}

.thumbnail-image:hover {
    box-shadow: .4vw .4vw rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
}
