.video-modal {
    align-items: center;
    display: flex;
    justify-content: center;
}

.video-modal-content {
    object-fit: contain;
    display: flex;
}

.video-modal-content iframe {
    aspect-ratio: 17 / 9;
    width: 100%;
}

.desc-content {
    align-items: center;
    color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #efefef;
}

.desc-content {
    width: 100%;
}

.desc-title {
    font-family: 'DINCondensed', sans-serif;
    font-size: 3vw;
    text-transform: uppercase;
    padding-top: 5%;
}

.desc-divider {
    width: 100%;
    color: white;
    border-bottom: 1px solid #000;
}

.desc-role {
    font-family: 'DINCondensed', sans-serif;
    font-size: 1.5vw;
    text-transform: uppercase;
    padding-top: 0;
    transform: translateY(-5px);
    color: #cccccc;
}

.desc-description {
    font-family: 'Futura', sans-serif;
    font-size: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
}

/* Responsive styles for mobile */
@media (orientation: portrait) {
    .desc-title {
        font-size: 6vw;
        padding-bottom: 0;
    }

    .desc-role {
        font-size: 3vw;
        padding-bottom: 2vh;
    }

    .desc-description {
        font-size: 2.5vw;
        padding-left: 5vw;
        padding-right: 5vw;
    }
}

.header2_pipeline {
    font-family: DINCondensed, sans-serif;
    font-size: 3.5vw;
    padding-top: 0.5vw;
    padding-bottom: 0vh;
    text-transform: uppercase;
    text-shadow: .15vw .05vw rgba(0, 0, 0, 0.2);
    text-align: left;
    line-height: 1;
    color: #e8e8e8;
}

@media (orientation: portrait) {
    .header2_pipeline {
        font-size: 7vw;
    }
    
    .header2 {
        font-size: 10vw;
    }
}


.wrapper {
    flex-direction: column;
    position: relative;
}

.first_film {
    align-items: center;
    background: #000630;
    display: flex;
    flex-direction: column;
    width: 100%;
    object-fit: contain;
    position: absolute;
    padding: 9vh 0 3vh 0;
}

.second_film {
    background-color: #f9f9f9;
    width: 100%;
    align-items: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.sxsw_film {
    background-color: #000630;
    width: 100%;
    align-items: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 7vh 0;
    height: fit-content;
    box-sizing: border-box;
    overflow: hidden;
}

.sxsw_film_bg {
    position: absolute;
    top: -4vh;
    left: 2vw;
    width: 120%;
    height: 120%;
    background-size: contain;
    background-position: left;
    background-repeat: no-repeat;
    opacity: .1;
    z-index: 0;
    transform: translateX(-10%);
    filter: blur(6px);
}

.sxsw_film .header2 {
    margin: 0;
    padding: 1vh 0;
    flex-shrink: 0;
}

.sxsw_film .body_no_padding {
    font-size: 1.3vw;
}

@media (orientation: portrait) {
    .sxsw_film .body_no_padding {
        font-size: 2.5vw;
    }
}

.sxsw_film .column-container {
    flex: 1;
    min-height: 0;
    overflow: visible;
    align-items: center;
    padding-bottom: 5vh;
    padding-left: 2vw;
    max-width: 100vw;
    gap: 0vw;
}

.sxsw_film .column-container > div {
    top: -20px;
}

.sxsw_rt_logo {
    position: absolute;
    top: 15px;
    right: 30px;
    display: block;
    z-index: 2;
}

.sxsw_rt_logo img {
    width: 280px !important;
    max-width: 280px !important;
    height: auto !important;
    display: block;
    object-fit: contain;
    transition: transform 0.3s ease;
}


.sxsw_rt_logo:hover img {
    transform: scale(1.1);
}

.sxsw_variety_logo {
    position: absolute;
    top: 280px;
    right: 45%;
    display: block;
    z-index: 2;
}

.sxsw_variety_logo img {
    width: 220px !important;
    max-width: 220px !important;
    height: auto !important;
    display: block;
    object-fit: contain;
    transition: transform 0.3s ease;
}

.sxsw_variety_logo:hover img {
    transform: scale(1.02);
}

@media (max-width: 1000px) {
    .sxsw_rt_logo {
        right: -20px;
    }
    
    .sxsw_variety_logo {
        right: 45%;
    }
}

@media (orientation: portrait) {
    .sxsw_film .column-container > div:last-child img {
        transform: scale(0.9);
    }
    
    .sxsw_variety_logo {
        right: 45%;
        top: 55%;
    }
    
    .sxsw_variety_logo img {
        width: 220px !important;
        max-width: 220px !important;
    }

    
}

.third_film {
    background-color: #ededed;
    width: 100%;
    align-items: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: absolute;
    padding: 9vh 0 11vh 0;
}

.thumbnail {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.thumbnail-image {
  box-shadow: .3vw .3vw rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 12vw;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: transform .5s ease, box-shadow 1s ease;
}

@media (hover: hover) and (pointer: fine) {
  .thumbnail-image:hover {
    box-shadow: .4vw .4vw rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }
}

.video-grid {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    gap: 2vw;
    justify-content: center;
    flex-direction: column;
}

.reel-highlights-grid {
    align-items: start;
    display: grid;
    grid-template-columns: repeat(3, min-content);
    gap: 1vw;
    justify-content: center;
    padding-top: 0vh;
    transform: scale(0.75) translateY(-20px);
    transform-origin: center;
}

.reel-highlight-thumbnail {
  box-shadow: .3vw .3vw rgba(0, 0, 0, 0.2);
  cursor: pointer;
  width: 15vw;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  transition: transform .5s ease, box-shadow 1s ease;
}

@media (hover: hover) and (pointer: fine) {
  .reel-highlight-thumbnail:hover {
    box-shadow: .4vw .4vw rgba(0, 0, 0, 0.4);
    transform: scale(1.1);
  }
}

@media (orientation: portrait) {
  .reel-highlights-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 2vw;
    padding: 2vw;
    transform: scale(1);
  }

  .reel-highlight-thumbnail {
    width: 100%;
  }
}

@media (orientation: portrait) {
  .video-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3vw;
    padding: 5vw;
  }

  .thumbnail-image {
    width: 100%;
  }
}


.vp-reel-embed {
  width: 100%;
  max-width: 960px;
  aspect-ratio: 16 / 9;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.column-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    padding-bottom: 5vh;
}

.column-container > * {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

@media (orientation: portrait) {
    .column-container {
        grid-template-columns: 1fr; /* Switches to a single column */
    }
}

.column-container2 { /* Puts the first column on the bottom */
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    padding-bottom: 5vh;
}

.column-container2 > * {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.column-container3 { /* Doesn't switch for mobile */
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 35vw);
    padding-bottom: 5vh;
}

.column-container3 > * {
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

@media (orientation: portrait) {
    .column-container2 {
        grid-template-columns: 1fr;
    }

    .column-container2 > :nth-child(1) {
        order: 2;
    }

    .column-container2 > :nth-child(2) {
        order: 1;
    }
}

.slate_background {
    align-items: center;
    aspect-ratio: 16 / 9;
    background: repeating-linear-gradient(
        45deg,
        black,
        black 2vw,
        white 2vw,
        white 4vw
    );
    border: .25vw solid black;
    box-shadow: .6vw .6vw rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    object-fit: contain;
    outline: .25vw solid white;
    width: 35vw;
}

.slate_background2 {
    aspect-ratio: 17 / 9;
    background-color: black;
    border: .25vw solid white;
    box-shadow: .6vw .6vw rgba(0, 0, 0, 0.4);
    outline: .25vw solid black;
    width: 32vw;
    overflow: hidden;
}

@media (orientation: portrait) {
    .slate_background {
        width: 80vw;
    }
}

@media (orientation: portrait) {
    .slate_background2 {
        width: 76vw;
    }
}

@media (orientation: portrait) {
    .slate_background2 {
        width: 76vw;
    }
}
