.wrapper {
    flex-direction: column;
    position: relativs;
}

.columns-container {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    gap: 5vw;
    justify-content: left;
    flex-direction: column;
}

.image-style {
  width: 36vw;
  max-width: 80vw;
  padding-top: 3vh;
}

.games-image {
    position: relative;
    padding: 15vh 0 0 0;
    width: 50vw;
}

@media (orientation: portrait) {
    .games-image {
        width: 70vw;
    }
}

.bodyText {
    font-family: Futura;
    font-size: 1.6vw;
    color: #efefef;
    margin: 5vw;
}

@media (orientation: portrait) {
    .bodyText {
        font-size: 3.5vw;
    }
}

.first_home {
    background: #000630;
    height: 75vh;
    width: 100%;
    align-items: center;
    object-fit: contain;
    display: flex;
    position: relative;
    z-index: 1;
    justify-content: center;
}

.second_home {
    background: #000630;
    height: 70vh;
    width: 100vw;
    align-items: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5vh 0 15vh 0;
}

@media (orientation: portrait) {
    .second_home {
        height: 50vh;
        padding: 0 0 0 0;
    }
}

.third_home {
    background-color: #000630;
    height: 60vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    display: flex;
}

.phone_home {
    background-color: #000630;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 2vh 0;
}

.laptop_home {
    height: 60vh;
    padding: 0vh 0 10vh 0;
    background-color: #000630;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: relative;
}

.fourth_home {
    background-color: #000630;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 0 2vh 0;
}


.fifth_home {
    background-color: black;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.sixth_home {
    background-color: #000630;
    width: 100%;
    align-items: center;
    justify-content: center;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    position: absolute;
}