@import 'Navbar.scss';

.fade-in {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
  fontSize: 3vh;
  color: white;
}

.visible {
  opacity: 1;
}

.header {
    padding-top: 1vh;
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: DINCondensed;
    text-transform: uppercase;
    color: white;
    letter-spacing: .2em;
    font-size: 9vw;
    text-shadow: .03em 0 #b3b3b3;
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9 */
    -o-transform:scale(1,1.2); /* Opera */
    transform:scale(1,1.2); /* W3C */
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .header {
        font-size: 7vw;
    }
}

@media (max-width: 600px) {
    .header {
        font-size: 13vw;
        letter-spacing: .1em;
    }
}

@media (max-width: 400px) {
    .header {
        font-size: 12vw;
    }
}

.unused {
    white-space: nowrap;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: DINCondensed;
    text-transform: uppercase;
    color: white;
    letter-spacing: .2vw;
    font-size: 4vw;
    text-shadow: .04em 0 #8b8b8b;
    opacity: 0.3;
    transition: opacity 1s ease, font-size 1s ease;
    cursor: pointer;
    -webkit-transform:scale(1,1.2); /* Safari and Chrome */
    -moz-transform:scale(1,1.2); /* Firefox */
    -ms-transform:scale(1,1.2); /* IE 9 */
    -o-transform:scale(1,1.2); /* Opera */
    transform:scale(1,1.2); /* W3C */
    max-width: 100%;
    overflow: hidden;
}

@media (max-width: 1000px) {
    .unused {
        font-size: 3.5vw;
    }
}

@media (max-width: 600px) {
    .unused {
        font-size: 4vw;
    }
}

@media (max-width: 400px) {
    .unused {
        font-size: 3.5vw;
    }
}

.unused:hover {
    opacity: 1;
    font-size: 4.2vw;
}

.textStyle {
    padding: 0;
    font-family: Futura;
    fontSize: 3vw;
    color: #efefef;
}